body {
    margin: 10;
    padding: 10;
    background: #000;
    overflow: hidden;
}

p {
    font-size: 8px;
    line-height: 8px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(maammona.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}